html {
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	font-family: 'Amatic SC', cursive;
	background-color: #c4d4ed;
}
h1 {
	color: black;
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	text-shadow: 3px -3px 0 white;
}

p, a {
	font-size: 25px;
	line-height: 1;
	letter-spacing: 3px;
	margin: 10px auto;
	text-shadow: 1.5px -1.5px 0 white;
}
body {
  width: 620px;
  margin: 15px auto;
  background-color: #e1e6ef;
  padding: 0 20px 20px 20px;
	border: 5px solid black;
	text-align: center;
  
}
td {
	width: 200px;
	text-align: right;
	padding: 0 50px 0 50px;
}
img {
  display: block;
  margin: 0 auto;
}

button {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	font-family: 'Amatic SC', cursive;
	background-color: #c4d4ed;
	text-align: center;
    text-decoration: none;
	border: none;
    color: white;
    padding: 15px 32px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
	background-color: white;
	border: 4px solid #c4d4ed;
	color: black;
	padding: 11px 32px;
}

a {
	text-decoration: none;
}